<div id="txt">
    FOUNDERS
</div>
<div class="main2" >
    <div class="main-scroll-div">
        <div>
            <button class="icon"><i class='fas fa-angle-double-left'></i></button>
        </div>
        <div class="cover">
            <div class="scroll-images">
                <div class="child"><img class="child-img"  src="assets/pics/founder1.jpg"></div>
                <div class="child"><img class="child-img"  src="assets/pics/founder2.jpeg"></div>
                <div class="child"><img class="child-img"  src="assets/pics/founder3.jpeg"></div>
                <div class="child"><img class="child-img"  src="assets/pics/founder4.jpeg"></div>
            </div>
        </div>
        <div>
            <button class="icon"><i class="fas fa-angle-double-right "></i></button>
        </div>

    </div>

</div>
    
