<div class="awareness">
    <p class="title"><strong>Awareness</strong></p>
    <div class="container">
        <p id="quote">Be the reason for someone’s heartbeat</p>
        <div class="content">
        <p>Plasma donation is an important process that involves donating plasma, a component of blood that is rich in antibodies, to help treat people with certain medical conditions. If you are considering becoming a plasma donor or are interested in learning more about the process, here are some important things to keep in mind</p>
            <blockquote>
                    <div class="cntnt1">Benefits
                        <p> Plasma donation can help save lives by providing essential antibodies to people with medical conditions such as immune deficiencies, blood disorders, and certain types of cancer. Additionally, many plasma donation centers offer incentives for donors, such as compensation or reward points that can be redeemed for prizes.</p>
                        <p>Regular blood donation is linked to lower blood pressure and a lower risk for heart attacks. “It definitely helps to reduce cardiovascular risk factors,” </p>
                        <p>“By going to donate blood, you are getting a mini-physical,” says Dr. DeSimone.Before you are allowed to donate,  your vital signs will be checked to make sure you are fit enough for the procedure. This exam might turn up a condition that needs medical attention, such as high blood pressure or a heart arrhythmia like atrial fibrillation. In addition, you’ll be screened for infectious diseases you may be unaware of.</p>
                    </div>
                    <div class="cntnt1">Eligibility
                        <p> To be eligible to donate plasma, you must meet certain requirements, such as being at least 18 years old, weighing at least 110 pounds, and being in good health. You may also need to pass certain medical screenings to ensure that you are a suitable candidate for plasma donation.</p>
                
                        <div id="eligibility">
                            <p>Age 18-20</p>
                            <p>Weight Minimum 110lb</p>
                            <p>Medical Examination During first visit only and Annually therearfter</p>
                            <p>Virus Ineligibility Hepatitis (negative), HIV (negative), parvo B19 (negative)</p>
                            <p>Pregnant 6-12 months after pregnancy ends, Check with your doctor prior to donating</p>
                            <p>Frequency once every 28 days</p>
                        </div>
                    </div>
                    <div class="cntnt1">Donation process
                        <p> The plasma donation process typically takes between 1-2 hours, during which time blood is drawn from your arm, plasma is separated from the rest of your blood, and the remaining components are returned to your body. You may experience some mild discomfort during the procedure, but most donors report feeling fine afterwards.</p>
                    </div>
                    <div class="cntnt1">Where to donate
                        <p> Plasma donation centers can be found in many cities and towns across the United States and other countries. Some centers may require appointments, while others may accept walk-ins. It's important to do your research and choose a reputable, accredited donation center that follows strict safety and quality standards.</p>
                    </div>
                    <div class="cntnt1"> Risks and side effects
                        <p> Like any medical procedure, plasma donation carries some risks and potential side effects. These may include fainting, infection, bruising or bleeding at the site of the needle, and allergic reactions. However, these risks are generally low and can be minimized by following proper safety guidelines.</p>
                    </div>
           </blockquote>
        </div>
      </div>
</div>



