<div id="txt">
    CONTACT US
</div>
<div class="main2" >
    <div id="img1">
        <img src="assets\pics\cntctUS.jpg" >    
    </div>
   
    <div id="sideheadings">
        <h3 id="hdngs">Reach us on</h3>
        <p id="abtcntnt">
            2nd avenue, Ranganathan garen<br>
            Anna nagar<br>
            Chennai<br>
            600040
        </p>
        <p id="abtcntntphn">
            phone:-
        </p>
        <p id="abtcntntnum">
            +91 98653 21457<br>
            +91 97643 12457<br>
            044 2777 999<br>
            044 2777 888<br>
        </p>
        <h3 id="hdngs">Social Media</h3>
        <p id="abtcntnt">
            @plasmaDonor.instagram.com<br>
            plasma_Donor.twitter.com<br>
            
        </p>
    </div>
</div>
