<!-- <div>
    <div class="app-name">
        plasma donor
    </div>

    <div class="imgviews">
        <div class="row">
            <div class="column">
                <div class="card">
                  <img src="assets\pics\donor_pic.jpg" alt="Mike" style="width:100%">
                  <div class="container">
                    <p>{{number}} donors registered </p>
                  </div>
                </div>
            </div>
          
            <div class="column">
              <div class="card">
                <img src="assets\pics\receipient.jpg" alt="Mike" style="width:100%">
                <div class="container">
                  <p>{{number}} donors registered</p>
                </div>
              </div>
            </div>
        </div>   
        <div class="row">
            <div class="column">
                <div class="card">
                  <img src="assets\pics\center.jpg" alt="Mike" style="width:100%">
                  <div class="container" id="showactivities">
                    <p>{{number}} donors registered</p>
                  </div>
                </div>
            </div>
          
            <div class="column">
              <div class="card">
                <img src="assets\pics\donor_pic.jpg" alt="Mike" style="width:100%">
                <div class="container">
                  <p>{{number}} donors registered</p>
                </div>
              </div>
            </div>
        </div>
        
    </div> 
        
    <div class="actviews">
        <app-activites ></app-activites>
    </div>
    <div class="foundersviews">
        <app-activites ></app-activites>
    </div>
    <div class="abtviews">
        <app-activites ></app-activites>
    </div>
    <div class="cntctviews">
        <app-activites ></app-activites>
    </div>




</div> -->