<div id="txt">
    ABOUT US
</div>
<div class="main2" >
        <div id="img1">
            <img src="assets\pics\logo4.png" >    
        </div>
       
        <div id="sideheadings">
            <h3 id="hdngs">Who we are</h3>
            <p id="abtcntnt">
                An Organization who connect the users such as Donors,receipient and centers from various locations to build a society with humanity and kindness to help others in need
            </p>
            <h3 id="hdngs">Our target</h3>
            <p id="abtcntnt">
                To serve the people in need of help<br>
                Save lifes<br>
                Be an user friendly application which is emphazised and act as productive to user
            </p>
            <h3 id="hdngs">Achievemetns</h3>
            <p id="abtcntnt">
                Award of UPLIFTING LIFES<br>
                Award of EXCELLENCE<br>
                Best Social service and human friendly app
            </p>
        </div>
</div>
    
